<p style="color: green"><%= notice %></p>

<h1>Friends</h1>

<div class="table-responsive">
  <table class="table table-hover table-borderless table-responsive">
    <thead class="table-dark">
      <tr>
        <th scope="col" > Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% @friends.each do |friend| %>
        <% if friend.user_id == current_user.id %>
          <tr>
            <td> <%= link_to friend.first_name + " " + friend.last_name, friend %></td>
            <td> <%= friend.email %></td>
            <td> <%= friend.phone %></td>
            <td>
              <%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
            </td>
          </tr>
        <% end %>
      <% end %>
      <tbody>
  </table>
</div>

<%= link_to "New friend", new_friend_path, class:"btn btn-outline-primary" %>
